@import url("typography.css");
@import url("nav.css");
@import url("layout.css");

.blog__topics-container {
  border-bottom: 1px solid #485864;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  padding-top: 15px;
}

.subtitle-light {
  padding-top: 10px;
}

form.form__name-input {
  padding: 20px 0;
}

input[type="text"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type="email"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 100%;
  background-color: #e60005;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  
  cursor: pointer;
  border: none;
  border-radius: 4px;
}

input[type=submit]:hover {
  background-color:#2c2c2c;
  transition: background-color ease-in .1s;
}