/* Typography */
h1 {
  font-family: 'Roboto', sans-serif;
  font-size: 6rem;
  letter-spacing: -1.5;
  font-weight: 100;
  margin: 0;
}

h2 {
  font-family: 'Roboto', sans-serif;
  font-size: 3.75rem;
  letter-spacing: -0.5;
  font-weight: 100;
  margin: 0;
}

h3 {
  font-family: 'Roboto', sans-serif;
  font-size: 3rem;
  font-weight: 400;
  letter-spacing: 0;
}

h4 {
  font-family: 'Roboto', sans-serif;
  font-size: 2.125rem;
  font-weight: 400;
  letter-spacing: .25;
  margin: 0;
  color: #e60005;
}

h5 {
  font-family: 'Roboto', sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
  letter-spacing: 0;
  margin: 0;
}

h6 {
  font-family: 'Roboto', sans-serif;
  font-size: 1.25rem;
  font-weight: 500;
  letter-spacing: .15;
  margin: 0;
}

.subtitle-light {
  font-family: 'Roboto', sans-serif;
  font-size: .875rem;
  font-weight: 400;
  letter-spacing: .15;
  color: #615858;
}

.subtitle-bold {
  font-family: 'Roboto', sans-serif;
  font-size: 0.875rem;
  font-weight: 500;
  letter-spacing: .1;
  color: #615858;
}

p {
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: 0.5;
  margin: 0;
  color: #36454f;
}

.body-two {
  font-family: 'Roboto', sans-serif;
  font-size: 0.875rem;
  font-weight: 400;
  letter-spacing: 0.25;
  color: #36454f;
}

button {
  font-family: 'Roboto', sans-serif;
  font-size: 0.875rem;
  letter-spacing: 1.25;
  font-weight: 500;
  text-transform: uppercase;
}

caption {
  font-family: 'Roboto', sans-serif;
  font-size: 0.75rem;
  letter-spacing: 0.4;
  font-weight: 400;
  color: #36454f;
}

figcaption {
  font-family: 'Roboto', sans-serif;
  font-size: 0.75rem;
  letter-spacing: 0.4;
  font-weight: 400;
  color: #36454f;
}
